[Desktop Entry]
Version=1.0
Type=Application
Exec=logout-yad
Icon=org.xfce.panel.actions
StartupNotify=false
Terminal=false
Categories=X-XFCE;X-Xfce-Toplevel;
NotShowIn=JWM
OnlyShowIn=XFCE
Name=Logout
Name[nl]=Uitloggen
