[Desktop Entry]
Version=1.0
Type=Application
Name=Pseudo Full Install Setup
Comment=
TryExec=pseudofull-setup
Exec=pseudofull-setup
Icon=open-menu
Terminal=false
StartupNotify=false
Categories=System;
Hidden=true
