favorites=xfce4-terminal-emulator.desktop,xfce4-file-manager.desktop,mc-runterm.desktop,xfce4-screenshooter.desktop,htop-runterm.desktop,sensors.desktop,io.github.thetumultuousunicornofdarkness.cpu-x.desktop,gparted.desktop,gsmartcontrol.desktop,winpasswd.desktop,kbt.desktop
button-title=Menu
button-icon=org.xfce.panel.whiskermenu
button-single-row=false
show-button-title=true
show-button-icon=true
launcher-show-name=true
launcher-show-description=true
launcher-show-tooltip=true
launcher-icon-size=2
hover-switch-category=true
category-show-name=true
category-icon-size=0
sort-categories=false
view-mode=1
default-category=0
recent-items-max=10
favorites-in-recent=true
position-search-alternate=true
position-commands-alternate=true
position-categories-alternate=true
position-categories-horizontal=false
stay-on-focus-out=false
profile-shape=0
confirm-session-command=true
menu-width=420
menu-height=540
menu-opacity=100
command-logout=dash -c logout-yad
show-command-logout=true
show-command-settings=true
show-command-lockscreen=false
show-command-switchuser=false
show-command-logoutuser=false
show-command-restart=false
show-command-shutdown=false
show-command-suspend=false
show-command-hibernate=false
show-command-menueditor=false
show-command-profile=false
